.section {
    width: 100%;
}

.qa {
    margin-bottom: 30px;
    color: var(--primary-text-color);
}

.qa .question {
    margin: 0 0 5px;
}

@media (max-width : 600px) {
    .section {
        font-size: 0.9em;
    }
}