.root {
    max-width: 100%;
}

.root img {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    display: block;
}

.videoContainer {
    width: 100%;
    height: 360px;

    background: var(--background-gradient);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 6px #0000005e;
}


@media (max-width : 500px) {
    .videoContainer {
        height: 222px;
    }
}