.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 350px;
    width: 100%;
    margin: 15px;
}

.footnote {
    color: white;
    opacity: 0.6;
    text-align: center;
    font-size: 0.9em;
}

.footnote a {
    color: white;
}